.administrator-container {
  padding: 20px;
}

.user-list ul {
  list-style-type: none;
  padding: 0;
}

.user-list li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}

.user-details {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
/* Styles pour la classe 'admin' */
.admin {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.admin .navbar-item {
  background-color: #2d3e50;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.admin .navbar-item:hover {
  background-color: #00d1b2;
  color: #ffffff;
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #2d3e50;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Button styles */
button {
  background-color: #2d3e50;
  color: #ffffff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #00d1b2;
  color: #ffffff;
}

button + button {
  margin-left: 10px;
}

/* Form styles */
form {
  margin-top: 20px;
}

form div {
  margin-bottom: 15px;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form input {
  width: calc(100% - 20px);
  padding: 8px 10px;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

form button[type="submit"] {
  background-color: #2d3e50;
}

form button[type="submit"]:hover {
  background-color: #00d1b2;
}

form button[type="button"] {
  background-color: #c0392b;
}

form button[type="button"]:hover {
  background-color: #e74c3c;
}
