<form [formGroup]="sensorForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Nom :</label>
    <input id="name" formControlName="name" type="text" required />
  </div>
  <div>
    <label for="bd">Base de données :</label>
    <input id="bd" formControlName="bd" type="text" required />
  </div>

  <div>
    <label for="type">Type :</label>
    <input id="type" formControlName="type" type="text" required />
  </div>

  <div>
    <label for="location">Localisation :</label>
    <input id="location" formControlName="location" type="text" required />
  </div>

  <div>
    <label for="status">Statut :</label>
    <input id="status" formControlName="status" type="text" required />
  </div>

  <button type="submit">Enregistrer</button>
  <button type="button" (click)="onReset()">Réinitialiser</button>
</form>
