.app-container {
  width: 100%;
  margin: 0 auto;
}

.navbar {
  background-color: #4CAF50; /* Couleur de fond de la barre de navigation */
  padding: 1rem; /* Espacement interne pour la barre */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand .navbar-item {
  color: white; /* Couleur du texte du bouton SmartAgri */
  font-size: 1.5rem; /* Taille du texte */
  font-weight: bold; /* Texte en gras */
  text-decoration: none; /* Supprime la sous-ligne des liens */
}

.navbar-end {
  display: flex;
  gap: 1rem; /* Espace entre les éléments de navigation */
}

.navbar-item {
  color: white; /* Couleur du texte des liens */
  text-decoration: none; /* Supprime la sous-ligne des liens */
}

.navbar-item:hover {
  color: #A5D6A7; /* Couleur du texte lors du survol */
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-brand {
    margin-bottom: 1rem;
  }

  .navbar-end {
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
  }

  .navbar-item {
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
  }
}
