<div class="app-container">
  <nav class="navbar">
    <div class="navbar-brand">
      <a href="/home" class="navbar-item brand-logo">SmartAgri</a>
    </div>
    <div class="navbar-menu">
      <a routerLink="/dashboard" class="navbar-item">Dashboard</a>
      <a routerLink="/admin" class="navbar-item">Panneau d'admin</a>
    </div>
    <div class="navbar-end">
      <a routerLink="/signup" class="navbar-item">Sign Up</a>
      <a routerLink="/login" class="navbar-item btn-login">Login</a>
      <a href="#" class="btn-logout" (click)="logout()">Logout</a>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
