<div>
  <h2>Sensor List</h2>
  <button (click)="showAddSensorForm()">Add Sensor</button>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Location</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let sensor of sensors">
      <td>{{ sensor.name }}</td>
      <td>{{ sensor.type }}</td>
      <td>{{ sensor.location }}</td>
      <td>{{ sensor.status }}</td>
      <td>
        <button (click)="editSensor(sensor)">Edit</button>
        <button (click)="deleteSensor(sensor)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div *ngIf="isFormVisible">
  <h2>{{ sensorForm._id ? 'Update Sensor' : 'Add Sensor' }}</h2>
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="bd">BD</label>
      <input id="bd" [(ngModel)]="sensorForm.bd" name="bd" required />
    </div>
    <div>
      <label for="name">Name</label>
      <input id="name" [(ngModel)]="sensorForm.name" name="name" required />
    </div>
    <div>
      <label for="type">Type</label>
      <input id="type" [(ngModel)]="sensorForm.type" name="type" required />
    </div>
    <div>
      <label for="location">Location</label>
      <input id="location" [(ngModel)]="sensorForm.location" name="location" required />
    </div>
    <div>
      <label for="status">Status</label>
      <input id="status" [(ngModel)]="sensorForm.status" name="status" required />
    </div>
    <button type="submit">{{ sensorForm._id ? 'Update Sensor' : 'Add Sensor' }}</button>
    <button (click)="hideForm()">Cancel</button>
  </form>
</div>
