<div class="dashboard">
  <h2>Dashboard</h2>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Temperature</th>
      <th>Soil Humidity</th>
      <th>Light Intensity</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let sensor of sensors">
      <td>{{ sensor.name }}</td>
      <td>{{ sensor.temperature }}°C</td>
      <td>{{ sensor.soilHumidity }}%</td>
      <td>{{ sensor.lightIntensity }} lx</td>
      <td>
        <button (click)="togglePump(sensor._id, true)">Open Water Pump</button>
        <button (click)="togglePump(sensor._id, false)">Close Water Pump</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

